
/* Style for the image container */

  .image_container {
    position: relative; /* This allows absolute positioning of child elements */
    width: 100%; /* Full width */
    height: 80vh; /* Let the image define the height */
    overflow:hidden;
    
  }
  
  /* The image should scale to the size of the container */
  #building_map {
    width:100%; /* Makes the image responsive */
    height: 100%; /* Maintains aspect ratio */
    object-fit:contain; /* Ensures the image covers the container without distortion */
    /*object-position: center;*/
    display:block;
  }

  .grid_layout_parent{
    position: absolute; /* This allows absolute positioning of child elements */
    width: 100%; /* Full width */
    height: 80vh; /* Let the image define the height */
    overflow:hidden;
    left: auto;
    width: 60%; /* Makes the image responsive */
    height: 100%; /* Maintains aspect ratio */
    object-fit:contain; /* Ensures the image covers the container without distortion */
    object-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* The grid container for the sections */
  .grid_layout {
    position: absolute; /* Positions this container inside the image */
    left: auto;
    width: 100%; /* Cover the full width of the image */
    height: 100%; /* Cover the full height of the image */
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Divide the image into 3 equal vertical sections */
    
  }
  
  /* Each section inside the grid layout */
  .section {
    border: 2px solid rgba(255, 255, 255, 0.7); /* Optional: Adds a border to make sections visible */
    height: 100%; /* Make each section take full height of the image */
    display: flex; /* Center text inside the section */
    align-items: center;
    justify-content: center;
    color: #000; /* Text color */
    text-align: center; /* Center text */
  }

  .section1{
    background-color: rgba(145, 53, 63, 0.3);
  }
  .section2{
    background-color: rgba(199, 212, 74, 0.3);
  }
  .section3{
    background-color: rgba(113, 108, 213, 0.3);
  }
  
  /* Hover effect for the sections */
  .section:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: 2.0 sec;
  }
